In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv("product_sales_dataset_final.csv")

In [9]:
df.head()

,Order_ID,Order_Date,Customer_Name,City,State,Region,Country,Category,Sub_Category,Product_Name,Quantity,Unit_Price,Revenue,Profit
0,1,08-23-23,Bianca Brown,Jackson,Mississippi,South,United States,Accessories,Small Electronics,Phone Case,3,201.01,603.03,221.49
1,2,12-20-24,Jared Edwards,Grand Rapids,Michigan,Centre,United States,Accessories,Small Electronics,Charging Cable,4,74.30,297.20,97.09
2,3,01-29-24,Susan Valdez,Minneapolis,Minnesota,Centre,United States,Clothing & Apparel,Sportswear,Nike Air Force 1,1,68.19,68.19,25.47
3,4,11-29-24,Tina Williams,Tallahassee,Florida,South,United States,Clothing & Apparel,Sportswear,Adidas Tracksuit,3,209.64,628.92,231.38
4,5,09-21-23,Catherine Gordon,Baltimore,Maryland,East,United States,Accessories,Bags,Backpack,1,216.63,216.63,42.46

In [10]:
df = df.drop(columns=[
        "Order_ID", "Order_Date", "Customer_Name",
        "City", "State", "Region", "Country", "Product_Name"
    ]
)

In [11]:
df.head()

,Category,Sub_Category,Quantity,Unit_Price,Revenue,Profit
0,Accessories,Small Electronics,3,201.01,603.03,221.49
1,Accessories,Small Electronics,4,74.30,297.20,97.09
2,Clothing & Apparel,Sportswear,1,68.19,68.19,25.47
3,Clothing & Apparel,Sportswear,3,209.64,628.92,231.38
4,Accessories,Bags,1,216.63,216.63,42.46

In [19]:
df.columns

Index(['Category', 'Sub_Category', 'Quantity', ' Unit_Price ', ' Revenue ',
       ' Profit '],
      dtype='object')

In [12]:
df.isnull().sum()

Category        0
Sub_Category    0
Quantity        0
 Unit_Price     0
 Revenue        0
 Profit         0
dtype: int64

In [22]:
df["comp_price_subcat"] = (
    df.groupby("Sub_Category")[" Unit_Price "]
      .transform("median")
)

In [23]:
df["comp_price_cat"] = (
    df.groupby("Category")[" Unit_Price "]
      .transform("median")
)

In [24]:
global_median_price = df[" Unit_Price "].median()

In [25]:
df["Competitor_Price"] = (
    df["comp_price_subcat"]
      .fillna(df["comp_price_cat"])
      .fillna(global_median_price)
)

In [26]:
df.head()

,Category,Sub_Category,Quantity,Unit_Price,Revenue,Profit,comp_price_subcat,comp_price_cat,Competitor_Price
0,Accessories,Small Electronics,3,201.01,603.03,221.49,147.54,148.545,147.54
1,Accessories,Small Electronics,4,74.30,297.20,97.09,147.54,148.545,147.54
2,Clothing & Apparel,Sportswear,1,68.19,68.19,25.47,234.12,235.485,234.12
3,Clothing & Apparel,Sportswear,3,209.64,628.92,231.38,234.12,235.485,234.12
4,Accessories,Bags,1,216.63,216.63,42.46,148.13,148.545,148.13

In [28]:
df["elasticity_index"] = df["Competitor_Price"] / df[" Unit_Price "]

In [29]:
df.head()

,Category,Sub_Category,Quantity,Unit_Price,Revenue,Profit,comp_price_subcat,comp_price_cat,Competitor_Price,elasticity_index
0,Accessories,Small Electronics,3,201.01,603.03,221.49,147.54,148.545,147.54,0.733993
1,Accessories,Small Electronics,4,74.30,297.20,97.09,147.54,148.545,147.54,1.985734
2,Clothing & Apparel,Sportswear,1,68.19,68.19,25.47,234.12,235.485,234.12,3.433348
3,Clothing & Apparel,Sportswear,3,209.64,628.92,231.38,234.12,235.485,234.12,1.116772
4,Accessories,Bags,1,216.63,216.63,42.46,148.13,148.545,148.13,0.683793

In [31]:
df["elasticity_index"].describe()

count    200000.000000
mean          1.509316
std           1.435933
min           0.448102
25%           0.714815
50%           1.000000
75%           1.664686
max          17.361028
Name: elasticity_index, dtype: float64

In [32]:
df["elasticity_index"] = df["elasticity_index"].clip(0.1,3)

In [35]:
df["elasticity_index"].describe()

count    200000.000000
mean          1.309712
std           0.775299
min           0.448102
25%           0.714815
50%           1.000000
75%           1.664686
max           3.000000
Name: elasticity_index, dtype: float64

In [36]:
df.head()

,Category,Sub_Category,Quantity,Unit_Price,Revenue,Profit,comp_price_subcat,comp_price_cat,Competitor_Price,elasticity_index
0,Accessories,Small Electronics,3,201.01,603.03,221.49,147.54,148.545,147.54,0.733993
1,Accessories,Small Electronics,4,74.30,297.20,97.09,147.54,148.545,147.54,1.985734
2,Clothing & Apparel,Sportswear,1,68.19,68.19,25.47,234.12,235.485,234.12,3.000000
3,Clothing & Apparel,Sportswear,3,209.64,628.92,231.38,234.12,235.485,234.12,1.116772
4,Accessories,Bags,1,216.63,216.63,42.46,148.13,148.545,148.13,0.683793

In [37]:
df.to_csv("cleaned_product_sales.csv",index=False)